---
import configData from "@util/themeConfig";
---

<span
  class="absolute text-xs font-semibold py-1 px-3 group-hover:border-primary-400 -top-2 border border-primary-200 rounded-full bg-gradient-to-r from-primary-50 to-primary-100 text-primary-700 shadow-sm z-10"
>
  {configData.directoryUI.featured.labelForCard}
</span>