---
import AppShell from "@components/app/AppShell.astro";
import Prose from "../components/app/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <AppShell>
    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 py-12 mx-auto">
      <Prose>
        <slot />
      </Prose>
    </div>
  </AppShell>
</BaseLayout>